#Copy this file to Makefile.platform, and modify it
#To suit your platform specific needs.
#Compiler options set here will be included by makefiles in all subdirs

PYPROP_ROOT    := /home/tore/prog/pyprop

#Use these flags for speed
CXXFLAGS       := $(CXXFLAGS) $(OPTIMIZE_FLAGS) -Wall -g 
#-O3 -funroll-loops
CXXFLAGS       := $(CXXFLAGS) -DBZ_DEBUG 
CPPFLAGS       := $(CPPFLAGS) -DPYPROP_USE_BLAS -DPYPROP_USE_BLAS_MKL -I/opt/intel/mkl/10.0.1.014/include -DBZ_DISABLE_THREADS
#CPPFLAGS       := $(CPPFLAGS) -DBZ_DISABLE_THREADS
LDFLAGS        := $(LDFLAGS) -L/opt/intel/mkl/10.0.1.014/lib/em64t

#Use these flags for debugging
#CXXFLAGS       := $(CXXFLAGS) -Wall -O0 -g
#CPPFLAGS       := $(CPPFLAGS) -DLONGSIZE_32BIT -DBZ_DEBUG -DPYPROP_USE_BLAS 

MPICXX         := mpicxx
BOOST_LIBS     := -lboost_python-mt
PYSTE_BIN	   := $(PYPROP_ROOT)/extern/pyste/pyste.py
PYSTE_FLAGS    := --gccxml-path="gccxml --gccxml-compiler g++-3.4"
PYSTE_INCLUDE  := -I/usr/lib/openmpi/include
#LAPACK_LIBS = -lmkl_core 
LAPACK_LIBS = -lmkl -lguide -lmkl_core -lmkl_lapack

PYPROP_USE_ARPACK  := 1
PYPROP_USE_PIRAM   := 1
PYPROP_USE_EXPOKIT := 1
PYPROP_USE_ODE     := 1
PYPROP_USE_BSPLINE := 1
PYPROP_USE_RUNGEKUTTA := 1
PYPROP_USE_PAMP    := 1

PYPROP_STATIC := 0

ARPACK_LIB        = /opt/ARPACK/libparpack.a /opt/ARPACK/libarpack.a -lmpi_f77 -lgfortran

FC             := mpif90
FORTRAN_FLAGS  := -ffree-form -implicit-none -ffree-line-length-none -fPIC -O3 -g -Wall
#FORTRAN_FLAGS  := $(FORTRAN_FLAGS) -fbounds-check 
FORTRAN_LIBS   := -lmpi_f90 -lmpi_f77 -lg2c -lgfortran


